.gradient-background {
    text-align: center !important;
    align-items: center;
    background-color: antiquewhite;
}
 
h1{
    color: #24260f;
    justify-content: center;
    align-items: center;
    padding-top: 30vh;
}
h2{
    color: #24260f;
    justify-content: center;
    align-items: center;
}
.image{
    margin-bottom: 10px ;
}
.h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:  10px;
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
.featurette-divider {
    margin: 5rem 0;
}
.profile {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Merriweather", serif;
    margin-bottom: 20rem;
    margin-top: 20rem;
    width: 100%;
    background-color: #f2f2e9;
}
.title-text{
    color: #24260f;

}
.top-container {
    background-color: #24260f;
    $dark: #24260f
$bg: #f2f2e9
$sub: #90a955
$light: #c1d7ae
    position: relative;
    padding-top: 160px;
    padding-bottom: 160px;
}